@import '../../styles/mixins';
@import '../../styles/vars';

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 22px;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 12px;
  text-transform: uppercase;
  user-select: none;
  border: none;
  background: transparent;
  padding: 0;
  color: $color-primary;
  text-decoration: none;
  line-height: 1;

  &:disabled {
    cursor: not-allowed;
    color: $color-additional-fg;
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      color: $color-additional-fg;
    }
  }

  &[type='submit'] {
    padding-left: 40px;
    padding-right: 40px;

    &:disabled {
      color: $color-main-bg;
      background: $color-additional-fg;
    }

    &::before {
      @include material-icon;
      content: 'arrow_forward';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      color: $color-main-bg;
    }
  }

  &Theme {
    &Filled {
      width: 100%;
      padding: 15px 20px;
      background: $gradient-primary;
      color: $color-main-bg;

      &:not(:disabled) {
        &:hover {
          background: $gradient-focus;
          color: $color-main-bg;
        }
      }

      &:disabled {
        color: $color-main-bg;
        background: $color-additional-fg;
      }
    }

    &Bordered {
      width: 100%;
      padding: 15px 20px;

      &:not(:disabled) {
        &:hover {
          color: $color-primary;

          &:before {
            background: $gradient-focus;
          }
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50px;
        padding: 2px;
        background: $gradient-primary;
        -webkit-mask: linear-gradient($color-main-bg 0 0) content-box,
          linear-gradient($color-main-bg 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
      }

      &:disabled {
        color: $color-additional-fg;
        &:before {
          background: $color-additional-fg;
        }
      }
    }

    &Rounded {
      border-radius: 50%;
      border: 1px solid $color-unclaimed-fg;
      color: $color-additional-fg;
      line-height: 22px;
      font-size: 18px;
      font-weight: normal;
      min-width: 30px;

      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      &:not(:disabled) {
        &:hover {
          opacity: 0.75;
        }
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    &Pagination {
      background: none;
      font-weight: normal;
      color: $color-additional-fg;

      &:not(:disabled) {
        &:hover {
          color: $color-main-fg;
        }
      }

      &Active {
        font-weight: 700;
        width: 100%;
        height: 100%;
        background: $gradient-primary;
        color: $color-main-bg;
        pointer-events: none;
      }

      &Icon {
        @include material-icon;
        height: 100%;
        width: 100%;
        background: $gradient-secondary;
        color: $color-main-bg;

        &:not(:disabled) {
          &:hover {
            background: $color-secondary-accent;
            color: $color-main-bg;
          }
        }
      }

      &:hover {
        color: $color-accent;
      }
    }
  }

  // &:focus {
  //   outline: none;
  // }

  &Size {
    &Small {
      padding-top: 11px;
      padding-bottom: 11px;
    }
    &Fixed {
      width: fit-content;
    }
  }
}
