.dropdownGuests {
  position: relative;
  font-family: Montserrat, sans-serif;
  line-height: 14.63px;
  height: 44px;
  background: #ffffff;
  box-sizing: border-box;
  max-width: 320px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);

  &:hover{
    border: 1px solid rgba(31, 32, 65, 0.5);
  }

  &InputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 42px;
    cursor: pointer;
  }

  &Input {
    border: none;
    outline: none;
    -webkit-appearance: none;
    padding-left: 15px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    color: rgba(31, 32, 65, 0.75);
    width: 260px;
    background: transparent;
  }

  &Input::placeholder {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }

  &Arrow {
    width: 44px;
    height: 44px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgba(31, 32, 65, 0.5);
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
  }

  &Body {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    display: none;
    position: absolute;
    z-index: 3;
    left: -1px;
    right: -1px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    top: 42px;
  }

  &BodyIsOpened{
    display: block;
  }

  &IsOpened {
    display: block;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid rgba(31, 32, 65, 0.5),
  }

  &BodyButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #bc9cff;
    margin: 20px 7px 12px 14px;
  }
  &ButtonIsHidden{
    visibility: hidden; 
    cursor: none;
  }
  
}
