.roomPhotoGallery {
  display: flex;
  flex-direction: row;

  .mainPhoto {
    display: block;
    object-fit: cover;
    width: 68.3%;
  }

  .additionalPhotosSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .additionalPhoto {
    object-fit: cover;
    width: 105%;
    height: 50%;
  }
}
