@import '@styles/vars';
@import '@styles/mixins';

.signInCard {
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: min(380px, 100%);
  min-height: 358px;
  padding: 40px 30px 31px;
  color: $color-main-fg;
  background-color: $color-main-bg;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;

  @media screen and (max-width: 380px) {
    padding: 40px 10px 31px;
  }

  &Form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &Title {
    margin: 0;
    @include font-type($size: 24px, $color: $color-title-fg);
  }

  &ButtonContainer {
    min-width: 100px;
    margin-top: 13px;
    margin-bottom: 10px;
  }

  &BorderContainer {
    width: 99px;
  }

  &InputsContainer {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &BigButton {
    margin-bottom: 10px;
  }

  &BottomSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  &Error{
    color: $color-warning;
    display: none;
  }
}
