@use 'sass:color';
@import '../../../styles/vars';

.infoSection {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &AlignmentCenter {
      align-items: center;
    }

    &:first-child {
      padding-bottom: 13px;
      border-bottom: 1px solid transparentize($color-title-fg, 0.9);
    }

    &:last-child {
      margin-top: 8px;
    }
  }

  .text {
    padding-left: 5px;

    &StyleBold {
      font-weight: bold;
    }

    &Size {
      &Small {
        font-size: 12px;
      }

      &Large {
        font-size: 15px;
      }

      &ExtraLarge {
        font-size: 19px;
      }
    }

    &Color {
      &Dark {
        color: $color-title-fg;
      }

      &Purple {
        color: $color-primary;
      }
    }

    &AlignmentRight {
      text-align: right;
    }
  }
}
