@use 'sass:color'

@import '@styles/vars'
@import '@styles/mixins'

.aboutRoom
  display: flex
  flex-direction: column
  gap: 20px

  & .section:last-child
    padding: 0
    border: none

.title
  @include h2
  margin: 0

.container
  display: flex
  flex-direction: column
  gap: 17px
  margin: 0
  padding: 0

.section
  display: grid
  grid-template-columns: 48px 1fr
  grid-template-rows: 1fr 1fr
  gap: 0 10px
  align-items: center
  padding-bottom: 17px
  border-bottom: 1px solid color.adjust($color-title-fg, $alpha: -0.9)

  &Icon
    grid-row: span 2
    align-self: center
    height: 48px

  &Title
    margin: 0
    color: $color-main-fg

  &Description
    color: $color-main-fg
