.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding: 0 10px;
}

.spinContainer {
  width: 100%;
  display: flex;
  padding: 50px 10px;
  justify-content: center;
  font-size: min(20vh, 130px);
}
