@use 'sass:math'

@import '@styles/vars'

@mixin material-icon()
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 1.71rem
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr
  
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  font-feature-settings: 'liga'

@mixin text-field
  font-family: $main-font-family
  font-size: 1rem
  padding: 0
  text-indent: 14px
  width: min(320px, 100%)
  height: 44px
  color: $color-main-fg
  border: 1px solid #ccc
  border-radius: 4px
  outline: none
  box-sizing: border-box

  &:focus,
  &:hover
    border: 1px solid black

  &::placeholder
    color: $color-unclaimed-fg

@mixin h1()
  font-family: Montserrat
  font-style: normal
  font-weight: bold
  font-size: 1.71rem
  line-height: 2.15rem
  color: $color-title-fg
  margin: 10px 0

@mixin h2()
  font-family: Montserrat
  font-style: normal
  font-weight: bold
  font-size: 1.35rem
  line-height: 1.72rem
  color: $color-title-fg

@mixin h3()
  font-family: Montserrat
  font-style: normal
  font-weight: bold
  font-size: 0.85rem
  line-height: 1.08rem
  text-transform: uppercase
  color: $color-title-fg
  margin: 0 0 5px 0
  
@function px2rem($px)
  @return math.div($px, 14px) * 1rem

@mixin font-type($size: null, $color: null, $weight: null, $transform: null, $family: null)
  @if $size
    font-size: px2rem($size)
  font-weight: $weight
  color: $color
  text-transform: $transform
  font-family: $family

@mixin font-bold-type
  @include font-type(12px, $color-title-fg, bold, uppercase)
