@import '../../styles/mixins';

.expandableList {
  user-select: none;

  .titleSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    @include h3();
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    cursor: pointer;

    &:hover {
      .arrow {
        color: $color-title-fg;
      }
    }
  }

  .arrow {
    @include material-icon();
    color: $color-additional-fg;
    padding: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .hiddenList {
    margin: 0;
    padding: 0;
    display: none;
  }

  .item {
    list-style-type: none;
    padding: 5px 0;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &Opened {
    .arrow {
      transform: rotate(180deg);
    }

    .hiddenList {
      padding-top: 7px;
      display: block;
    }
  }
}
