@import '@styles/vars';

.impressionsRadio {
  margin: 5px 0;
}

.label {
  position: relative;
  display: inline-block;
  color: $color-unclaimed-fg;
  margin: 0 5px;
  padding: 8px;
  border-radius: 20px;
  outline: 1px solid $color-unclaimed-fg;
  font-size: 12px;

  &:hover {
    color: $color-main-bg;
    outline: none;
  }

  &Perfect:hover {
    background: $gradient-perfect;
  }

  &Good:hover {
    background: $gradient-good;
  }

  &Satisfactory:hover {
    background: $gradient-satisfactory;
  }

  &Poor:hover {
    background: $gradient-poor;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.radio {
  display: none;
}
