@import '@styles/vars';

.impressionsRadio {
  margin: 5px 0;
}

.radioText {
  position: relative;
  display: inline-block;
  color: $color-unclaimed-fg;
  margin: 0 5px;
  padding: 8px;
  border-radius: 20px;
  outline: 1px solid $color-unclaimed-fg;
  outline-offset: -1px;
  font-size: 12px;

  &:hover {
    color: $color-additional-fg;
  }

  &Perfect:hover {
    outline-color: #ffe39c;
  }

  &Good:hover {
    outline-color: $color-secondary;
  }

  &Satisfactory:hover {
    outline-color: $color-primary;
  }

  &Poor:hover {
    outline-color: #909090;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.radio {
  display: none;

  &:checked {
    & + .radioText {
      color: $color-main-bg;
      outline: none;

      &Perfect {
        background: $gradient-perfect;
      }

      &Good {
        background: $gradient-good;
      }

      &Satisfactory {
        background: $gradient-satisfactory;
      }

      &Poor {
        background: $gradient-poor;
      }
    }
  }
}
