@import '@styles/vars';

.impressionsRadio {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.radioText {
  position: relative;
  display: inline-block;
  color: $color-unclaimed-fg;
  padding: 8px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    padding: 1px;
    background: $color-unclaimed-fg;
    -webkit-mask: linear-gradient($color-main-bg 0 0) content-box,
      linear-gradient($color-main-bg 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  &:hover {
    color: $color-additional-fg;
  }

  &Perfect:hover {
    &:before {
      background: $gradient-perfect;
    }
  }

  &Good:hover {
    &:before {
      background: $gradient-good;
    }
  }

  &Satisfactory:hover {
    &:before {
      background: $gradient-satisfactory;
    }
  }

  &Poor:hover {
    &:before {
      background: $gradient-poor;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.radio {
  display: none;

  &:checked {
    & + .radioText {
      color: $color-main-bg;

      &Perfect {
        background: $gradient-perfect;
      }

      &Good {
        background: $gradient-good;
      }

      &Satisfactory {
        background: $gradient-satisfactory;
      }

      &Poor {
        background: $gradient-poor;
      }

      &:before {
        background: none;
      }
    }
  }
}
