@use 'sass:color';
@import '../../styles/vars';

.roomCard {
  display: block;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  box-shadow: 0px 10px 20px transparentize($color-title-fg, 0.95);
  overflow: hidden;
  color: $color-additional-fg;
  text-decoration: none;
}
