$darkShade100: #1f2041;
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade5: rgba(31, 32, 65, 0.05);
$boxShadow: rgba(0, 0, 0, 0.2);
$purple: #bc9cff;
$green: #6fcf97;
$white: #ffffff;
$grey: #e5e5e5;
$selectedDate: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$buttonColor: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$font-family-main: Montserrat;
$font-family-additional: Quicksand;
$font-for-icons: Material Icons;
$fallback-font: Arial,sans-serif;
$container-width: 1440px;
$container-mobile-width: 767px;
$container-tablet-width: 1024px;
$font-size: 12px
