@use 'sass:color';

@import '@styles/vars';

.circlesNavigateBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.circleButton {
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
  margin: 0 2px;
  background: none;
  width: 7.5px;
  height: 7.5px;
  border: 1px solid white;
  box-shadow: 0px 5px 5px transparentize($color-title-fg, 0.7);

  &Active {
    background: white;
  }
}
