@sass:color;
@import '../../styles/mixins';
@import '../../styles/vars';

$navbar: '.navbar';

.navbar {
  .content {
    display: flex;
    align-items: center;

    @media screen and (max-width: 950px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: relative;
    font-family: Montserrat;
    font-size: 14px;
    color: $color-additional-fg;
    padding: 10px;
    cursor: pointer;

    @media screen and (max-width: 950px) {
      &ThemeStretched {
        width: 100%;
      }
    }

    &:hover {
      color: $color-main-fg;

      .hiddenMenu {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        pointer-events: all;
      }

      .link {
        color: $color-main-fg;
      }

      .arrow {
        transform: rotate(180deg);
      }

      @media screen and (max-width: 950px) {
        color: $color-main-bg;

        .hiddenMenu {
          padding-top: 30px;
          display: block;
        }
      }
    }

    @media screen and (max-width: 950px) {
      align-items: flex-start;
      color: $color-main-bg;
      padding: 0;
      margin: 0 0 30px 0;
      font-size: 24px;

      .link {
        color: $color-main-bg;
      }

      &:hover {
        .link {
          color: $color-main-bg;
        }
      }

      &:last-child {
        margin: 0;
      }
    }

    @media screen and (max-width: 450px) {
      font-size: 5vw;
    }
  }

  .linkSection {
    display: flex;
    align-items: center;
  }

  .link {
    color: $color-additional-fg;
    text-decoration: none;

    @media screen and (max-width: 950px) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .separator {
    display: flex;
    width: 1px;
    min-height: 30px;
    background: transparentize($color-title-fg, 0.95);

    @media screen and (max-width: 950px) {
      .separator {
        flex: none;
        background: $color-main-bg;
        width: 100%;
        min-height: 1px;
      }
    }
  }

  .arrow {
    @include material-icon;
    transition: transform 0.3s ease;
  }

  .hiddenMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: $color-main-fg;
    padding: 15px;
    margin: 0;
    min-width: 200px;
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;

    @media screen and (max-width: 950px) {
      position: unset;
      display: none;
      background: unset;
    }

    .item {
      padding: 0 0 10px 0;

      .link {
        color: $color-main-bg;
        &:hover {
          text-decoration: underline;
        }
      }

      &:last-child {
        padding: 0;
      }
    }
  }

  @media screen and (max-width: 950px) {
    position: fixed;
    padding: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $color-title-fg;
    opacity: 98%;
    overflow: auto;
    transform: translate(-100%, 0);
    transition: transform 0.5s ease;

    .body {
      display: inline-block;
    }

    &Opened {
      transform: translate(0%, 0);
    }
  }
}
