@import '../../styles/mixins';

$navbar: '.navbar';

#{$navbar} {
  &__content {
    display: flex;
    align-items: center;

    @media screen and (max-width: 950px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: relative;
    font-family: Montserrat;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.5);
    padding: 10px;
    cursor: pointer;

    @media screen and (max-width: 950px) {
      &_theme_stretched {
        width: 100%;
      }
    }

    &:hover {
      color: rgba(31, 32, 65, 0.75);

      #{$navbar}__hidden-menu {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        pointer-events: all;
      }

      #{$navbar}__link {
        color: rgba(31, 32, 65, 0.75);
      }

      #{$navbar}__arrow {
        transform: rotate(180deg);
      }

      @media screen and (max-width: 950px) {
        color: white;

        #{$navbar}__hidden-menu {
          padding-top: 30px;
          display: block;
        }
      }
    }

    @media screen and (max-width: 950px) {
      align-items: flex-start;
      color: white;
      padding: 0;
      margin: 0 0 30px 0;
      font-size: 24px;

      #{$navbar}__link {
        color: white;
      }

      &:hover {
        #{$navbar}__link {
          color: white;
        }
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &__link-section {
    display: flex;
    align-items: center;
  }

  &__link {
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;

    @media screen and (max-width: 950px) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__separator {
    display: flex;
    width: 1px;
    min-height: 30px;
    background: rgba(31, 32, 65, 0.1);

    @media screen and (max-width: 950px) {
      &__separator {
        flex: none;
        background: white;
        width: 100%;
        min-height: 1px;
      }
    }
  }

  &__arrow {
    @include material-icon;
    transition: transform 0.3s ease;
  }

  &__hidden-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(31, 32, 65, 0.75);
    padding: 15px;
    margin: 0;
    min-width: 200px;
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;

    @media screen and (max-width: 950px) {
      position: unset;
      display: none;
      background: unset;
    }

    #{$navbar}__item {
      padding: 0 0 10px 0;

      #{$navbar}__link {
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }

      &:last-child {
        padding: 0;
      }
    }
  }

  @media screen and (max-width: 950px) {
    position: fixed;
    padding: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 80%;
    overflow: auto;
    transform: translate(-100%, 0);
    transition: transform 0.5s ease;

    &__body {
      display: inline-block;
    }

    &_opened {
      transform: translate(0%, 0);
    }
  }
}
