@import '../../styles/vars.sass';
@import '../../styles/_mixins.sass';

.impressions {
  position: relative;

  &Header {
    @include h2();
  }

  &Diagram {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 311px;

    &Chart {
      height: 120px;
      margin-right: 45px;
      position: relative;
      width: 120px;
    }

    &Labels {
      align-items: center;
      color: $color-primary;
      position: absolute;
      display: flex;
      flex-direction: column;
      font-family: inherit;
      font-style: normal;
      font-weight: 700;
      justify-content: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &Number {
        font-size: 2rem;
      }

      &Label {
        font-size: 1.16rem;
        line-height: 1.25rem;
      }
    }

    &Description {
      position: absolute;
      height: 96px;
      left: 165px;
      top: 28px;
      width: 146px;
    }

    &DescriptionItem {
      color: $color-main-fg;
      font-family: inherit;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.7rem;
      list-style-type: none;
      position: relative;
    }

    &DescriptionItem::before {
      border-radius: 50%;
      content: '';
      height: 10px;
      left: -15px;
      position: absolute;
      top: 7px;
      width: 10px;
    }

    &DescriptionItemPerfect::before {
      background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
    }

    &DescriptionItemGood::before {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }

    &DescriptionItemSatisfactory::before {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }

    &DescriptionItemPoor::before {
      background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
    }
  }

  .diagramchart__chart-text {
    font-family: inherit;
    fill: $color-primary;
    transform: translateY(5px) translateX(-30px);
  }

  .diagramchart__chart-number {
    color: $color-primary;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
    transform: translateY(-5px) translateX(12px);
  }

  .diagramchart__chart-label {
    color: $color-primary;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(14px);
  }

  @media (max-width: 767px) {
    .diagram__description {
      left: 145px;
    }
  }
}
