@import '../../styles/vars.sass';
@import '../../styles/_mixins.sass';

.impressions {
  position: relative;
  max-width: 311px;
  min-width: 285px;
  width: 100%;

  &Header {
    @include h2();
  }

  &Diagram {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &Chart {
      height: 120px;
      margin:0;
      position: relative;
      max-width: 311px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &Wrapper{
        width: 120px;
        height: 120px;
        position: relative;
      }
    }

    &Labels {
      align-items: center;
      color: $color-primary;
      position: absolute;
      display: flex;
      flex-direction: column;
      font-family: inherit;
      font-style: normal;
      font-weight: 700;
      justify-content: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &Number {
        font-size: 1.7rem;
      }

      &List{
        margin: 0;
        padding: 0;
      }

      &Label {
        font-size: 1.16rem;
        line-height: 1.25rem;
      }
    }

    &Description {
      height: 96px;
      width: 146px;
      margin-top: 28px;
    }

    &DescriptionItem {
      color: $color-main-fg;
      font-family: inherit;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.7rem;
      list-style-type: none;
      position: relative;
    }

    &DescriptionItem::before {
      border-radius: 50%;
      content: '';
      height: 10px;
      left: -15px;
      position: absolute;
      top: 7px;
      width: 10px;
    }

    &DescriptionItemPerfect::before {
      background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
    }

    &DescriptionItemGood::before {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }

    &DescriptionItemSatisfactory::before {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }

    &DescriptionItemPoor::before {
      background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
    }
  }

}
