@import '../../styles/vars.sass';
@import '../../styles/_mixins.sass';

.impressions {
  position: relative;
  max-width: 311px;
  width: 100%;

  @media screen and (max-width: 320px) {
    text-align: center;
  }

  &Header {
    @include h2();
  }

  &Diagram {
    margin-top: 20px;

    &Chart {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media screen and (max-width: 320px) {
        flex-direction: column;
        align-items: center;
      }

      &Wrapper {
        width: 120px;
        height: 120px;
        position: relative;
        flex-shrink: 0;
      }
    }

    &Labels {
      align-items: center;
      color: $color-primary;
      position: absolute;
      display: flex;
      flex-direction: column;
      font-family: inherit;
      font-style: normal;
      font-weight: 700;
      justify-content: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &Number {
        font-size: 1.7rem;
      }

      &List {
        margin: 0;
        padding: 0;
      }

      &Label {
        font-size: 1.16rem;
        line-height: 1.25rem;
      }
    }

    &Description {
      height: 96px;
      margin-top: 28px;
      margin-left: 20px;
    }

    &DescriptionItem {
      color: $color-main-fg;
      font-family: inherit;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.7rem;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: center;

      &Marker {
        border-radius: 50%;
        height: 10px;
        width: 10px;
        margin-right: 7px;
      }
    }
  }
}
