.slidesSection {
  position: relative;
  padding-top: 55.7%;

  .slide {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &Active {
      display: block;
    }
  }
}
